<html>
<head>
	<%= stylesheet_link_tag "active_scaffold/extjs/ext-all" %>
	<%= javascript_include_tag "active_scaffold/extjs/prototype" %>
	<%= javascript_include_tag "active_scaffold/extjs/scriptaculous" %>
	<%= javascript_include_tag "active_scaffold/extjs/effects" %>
	<%= javascript_include_tag "active_scaffold/extjs/ext-prototype-adapter" %>
	<%= javascript_include_tag "active_scaffold/extjs/ext-all-debug" %>
</head>
<body>
	<%= yield %>
</body>
</html>