<html>
<head>
	<%= stylesheet_link_tag "active_scaffold/extjs/ext-all" %>
	<%= stylesheet_link_tag "active_scaffold/extjs/Ext.ux.grid.CellActions.css" %>
	<%= stylesheet_link_tag "active_scaffold/extjs/icons.css" %>
	<%= javascript_include_tag "active_scaffold/extjs/prototype" %>
	<%= javascript_include_tag "active_scaffold/extjs/scriptaculous" %>
	<%= javascript_include_tag "active_scaffold/extjs/effects" %>
	<%= javascript_include_tag "active_scaffold/extjs/ext-prototype-adapter" %>
	<%= javascript_include_tag "active_scaffold/extjs/ext-all-debug" %>
    <%= javascript_include_tag "active_scaffold/extjs/Ext.ux.grid.CellActions.js" %>
    <%= javascript_include_tag "active_scaffold/extjs/Ext.ux.ThemeCombo.js" %>
    <%= javascript_include_tag "active_scaffold/extjs/Ext.ux.Toast.js" %>

</head>
<body>
	<%= yield %>
</body>
</html>